127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

# Personal projects
127.0.0.1	filezone.docker
127.0.0.1	fz-react.docker

# Quayside Group projects
127.0.0.1	    qtag.docker
127.0.0.1       c2o-mobile.docker
127.0.0.1       c2o-mobile.docker.au
127.0.0.1       c2o-mobile.docker.us
127.0.0.1       c2o-mobile.docker.uk
127.0.0.1       c2o-mobile.docker.ie
127.0.0.1       c2o.docker
127.0.0.1       c2o.docker.au
127.0.0.1       c2o.docker.ie
127.0.0.1       c2o.docker.us
127.0.0.1       expenses.docker
127.0.0.1       api.docker
127.0.0.1       ops.docker
127.0.0.1       analytics.docker
