[home_snwh_moka]
name=Moka Project (Fedora_25)
type=rpm-md
baseurl=http://download.opensuse.org/repositories/home:/snwh:/moka/Fedora_25/
gpgcheck=1
gpgkey=http://download.opensuse.org/repositories/home:/snwh:/moka/Fedora_25//repodata/repomd.xml.key
enabled=1