[dirkdavidis-papirus-icon-theme]
name=Copr repo for papirus-icon-theme owned by dirkdavidis
#baseurl=https://copr-be.cloud.fedoraproject.org/results/dirkdavidis/papirus-icon-theme/fedora-$releasever-$basearch/
baseurl=https://copr-be.cloud.fedoraproject.org/results/dirkdavidis/papirus-icon-theme/fedora-33-$basearch/
type=rpm-md
skip_if_unavailable=True
gpgcheck=1
gpgkey=https://copr-be.cloud.fedoraproject.org/results/dirkdavidis/papirus-icon-theme/pubkey.gpg
repo_gpgcheck=0
enabled=1
enabled_metadata=1
