# .bashrc

# Source global definitions
if [ -f /etc/bashrc ]; then
	. /etc/bashrc
fi

# Uncomment the following line if you don't like systemctl's auto-paging feature:
# export SYSTEMD_PAGER=

# User specific aliases and functions

# Env vars to allow Ansible to run Deployments in AWS
export ANSIBLE_DEPLOYMENT_USER=jonathanm
export ANSIBLE_SSH_ARGS='-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o AddKeysToAgent=no'
export ANSIBLE_PIPELINING=True
export ANSIBLE_HOST_KEY_CHECKING=False