# User specific aliases and functions
export VISUAL=vim
export EDITOR="$VISUAL"

# Env vars to allow Ansible to run Deployments in AWS
export ANSIBLE_DEPLOYMENT_USER=jonathanm
export ANSIBLE_SSH_ARGS='-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o AddKeysToAgent=no'
export ANSIBLE_PIPELINING=True
export ANSIBLE_HOST_KEY_CHECKING=False

function homestead() {
    ( cd ~/Homestead && vagrant $* )
}

phpco() { docker run --init -v $PWD:/mnt/src:cached --rm -u "$(id -u):$(id -g)" frbit/phpco:latest $@; return $?; }