Host *
    PubkeyAcceptedKeyTypes +ssh-rsa
    ForwardAgent yes
    StrictHostKeyChecking ask
    IdentityFile ~/.ssh/c2ojon_id_rsa
    IdentityFile ~/.ssh/opsjono_id_dsa
    IdentityFile ~/.ssh/jmarshall_ec2_production_id_rsa
    IdentityFile ~/.ssh/jmarshall_ec2_staging_id_rsa